* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*----------------------------------- Temporarely styles -----------------------------------*/
* {
    padding:0.5rem;
    border: 2px solid aliceblue;
}


/*----------------------------------- BLABLABLA -----------------------------------*/
body {
    border: none;
    font-family: 'Catamaran', sans-serif;
    color: #192B37;
}

html {
    border: none;
}

/*----------------------------------- Image styles -----------------------------------*/
.bg-image {
    background-image: url('/images/sleep-co-1.jpg');
    background-size: cover;
    min-height: 10rem;
}

/*----------------------------------- Universal styles and utility classes -----------------------------------*/
.padded-sm { padding: 2.5%;    }
.padded-md { padding: 5%;      }
.padded-lg { padding: 10%;     }
.padded-05 { padding: 0.5rem;  }
.padded-1  { padding: 1rem;    }
.padded-2  { padding: 2rem;    }

.bg-dark { 
    background-color: #192B37;
    color: white;
}